* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

pp-main {
    padding: 1rem;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto !important;
}

.product-page-head-container p {
    text-align: center;
}

.product-page-flex-container figure {
    margin: 0;
}

.product-page-flex-container figcaption {
    text-align: center; 
    text-transform: uppercase;
}

.product-page-container {
    max-width: 1000px;
    margin: 0 auto;
}

.product-page-head-container,
.product-page-bottom-container {
    background-color: #fde7e8;
    border-radius: .5rem;
}

.pp-col-1-2 {
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}

.pp-col-1-3 {
    box-shadow: 0 0 15px #fde7e8;
    border-radius: .5rem;
    text-align: center;
    margin: 1rem;
}

.pp-col-1-3 p {
    padding: 1rem;;
}

.pp-img1 {
    background-color: #fde7e8;
}

.pp-img3 {
    background-color: #fde7e8;
}

.pp-img2 {
    background-color: #fde7e8;
}

.pp-note {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 0 15px #fde7e8;
    border-radius: .5rem;
    text-align: center;
}

.product-page-flex-container.info {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
.product-page-flex-container.info .pp-note {
    padding: .5rem;
    margin: 1rem;
}

.product-page-flex-container.info p {
    padding: 2rem;
}


@media (min-width: 768px) {

.product-page-head-container,
.product-page-bottom-container {
    display: inline-flex;
    position: relative;
}

.product-page-bottom-container {
    margin-top: 2rem;
}

.pp-col-1-2 {
    margin: auto;
    max-width: 50%;
}

.product-page-flex-container {
    display: flex;
    justify-content: space-between;
}

.product-page-flex-container.info {
    display: flex;
}

.pp-col-1-3 {
    display: flex;
    flex-direction: column;
    width: 32%;
}

};