* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

main {
    padding: 1rem;
}

h1,
h3 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center; 
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.head-container,
.bottom-container {
    background-color: #f8f1ed;
    border-radius: .5rem;
}

.col-1-2 {
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}

.col-1-3 {
    box-shadow: 0 0 15px #f8f1ed;
    border-radius: .5rem;
    text-align: center;
    margin: 1rem;
}

.col-1-3 p {
    padding: 1rem;;
}

.img1 {
    background-color: #f8f1ed;
}

.img3 {
    background-color: #f8f1ed;
}

.img2 {
    background-color: #f8f1ed;
}

.note {
    box-sizing: border-box;
    width: 22.5%;
    box-shadow: 0 0 15px #f8f1ed;
    border-radius: .5rem;
    text-align: center;
}



@media (min-width: 768px) {

.head-container,
.bottom-container {
    display: inline-flex;
    position: relative;
}

.bottom-container {
    margin-top: 2rem;
}

.col-1-2 {
    margin: auto;
    max-width: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container.info {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.flex-container.info p {
    padding: 2rem;
}

.col-1-3 {
    display: flex;
    flex-direction: column;
    width: 32%;
}

};