
.wrapper {
    min-height: 100%;
    overflow: hidden;
    background: url(../img/background/tarrojaharmaatausta3ISO@3x_.jpg) center no-repeat;
}

._container {
    max-width: 1000px;
    margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	color: #fff;
}
/* ---------------------------------------------- */

.header {
	position: fixed;
	width: 100%;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 104px;
	align-items: flex-end;
	line-height: 52px;
	background: #e0cbb7;
}

@media (max-width: 479px) {
	.header__container {
		min-height: 85px;
	}
}

.header__logo {
	margin: 10px;
}

.header__logo img {
	max-width: 210px;
}
.header__menu {
	margin: 0px 0px 0px 123px;
}

@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}

@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}

@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}

.menu {
	padding: 5px 0;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.menu__item {
	margin: 0px 21px 0px 0px;
}

.menu__link {
	color: #000;
	font-weight: 500;
	font-size: 20px;
	font-family: Share;
	line-height: 171%;

	position: relative;
	text-decoration: none;
}

.menu__link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .2s ease-in-out 0s;
}

.menu__link:hover::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
